table {
  width: 100%;
}

thead {
  background-image: linear-gradient(66deg, #a7ca70, #b9d68d);
  color: white;
}

thead tr th {
  padding: 6px;
}

thead tr th p {
  color: white;
  line-height: 17px;
}

tbody tr td {
  padding: 6px 17px;
}